<launch>

  <group ns="epuck2041">
    <node pkg="epuck_control" name="epuck" type="epuck_control_node" output="screen"/>
  </group>

  <group ns="epuck2037">
    <node pkg="epuck_control" name="epuck" type="epuck_control_node" output="screen"/>
  </group>
   <group ns="epuck2034">
    <node pkg="epuck_control" name="epuck" type="epuck_control_node" output="screen"/>
  </group>
</launch>
